:root {
    --six-color: #FDFDFD;
    --fifth-color: #F4F4F4;
    --fourth-color: #DADADA;
    --third-color: #9C9C9C;
    --second-color: #595959;
    --first-color: #161616;
    --accent-color: #22A0BC;
}