.my-dropdown {
    position: absolute;
    right: -20px;
    top: 100%;
    background-color: white;
    border: 2px solid #e5e7eb; 
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); 
    z-index: 10;
    min-width: 160px;
  }
  
  @media (min-width: 1024px) {
    .my-dropdown {
      right: 0;
      min-width: 200px;
    }
  }
  .my-button {
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem;
    font-size: 0.875rem; 
    color: var(--first-color);
    cursor: pointer;
  }
  
  .my-button:hover {
    color: var(--second-color); 
  }
  .my-button-active {
    margin-top: 4px;
  }